[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
autopep8 = "*"

[packages]
numpy = "*"
jupyter = "*"
ipython = "*"
pandas = "*"
scipy = "*"
sklearn = "*"
matplotlib = "*"
opencv-python = "*"
torch = "*"
torchvision = "*"
scikit-image = "*"
tensorboard = "*"
future = "*"
tensorflow = "*"

[requires]
python_version = "3.6"

[scripts]
preptorch1 = "pip3 install https://download.pytorch.org/whl/cu100/torch-1.2.0-cp36-cp36m-win_amd64.whl"
preptorch2 = "pip3 install https://download.pytorch.org/whl/cu100/torchvision-0.4.0-cp36-cp36m-win_amd64.whl"
